<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.deluxan.medicine">

    <uses-permission android:name="android.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.activity.NotifyActivity"></activity>
        <activity android:name=".view.activity.ViewMedicineActivity" />
        <activity
            android:name=".view.activity.SplashActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.AuthActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity android:name=".view.activity.HomeActivity" /> <!-- broadcast receiver -->
        <receiver
            android:name=".utils.helpers.ReminderBroadcast"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>